venv/
.venv/
__pycache__/
website/
*.pyc
*.ipynb

**/auto_scraper.py
**/auto.py
**/DB_handler.py
*.py[cod]
.ipynb_checkpoints/

**/site.py
requirements_scraper.txt
requirements_site.txt

.env
*.log
discord.log

.git/
.gitignore
.github/
docker-compose.yml

docs/
assets/
README.md
LICENSE