venv/
.venv/
__pycache__/
*.pyc
*.ipynb

auto_scrapper.py
auto.py
DB_handler.py

site.py
requirements_bot.txt
requirements_site.txt

.env
*.log

.git/
.gitignore
.github/
docker-compose.yml

docs/
assets/
README.md
LICENSE
